In [1]:
from nltk.translate.bleu_score import sentence_bleu
from tqdm import tqdm
import pandas as pd

# Test

In [12]:
df = pd.read_csv('data/prediction_test_256_256.csv')

In [13]:
reference = []
preds = []
for text in df['preds'].values:
    try:
        preds.append(text.split())
    except:
        preds.append(' ')
        
for text in df['target'].values:
    try:
        reference.append(text.split())
    except:
        reference.append(' ')

In [14]:
df

,input,target,preds
0,Hal ini pun dapat muncul dalam lingkungan kelu...,this is also true of families .,this can also be seen within a family environm...
1,Rugerius dari Lauria (ca.,roger of lauria c .,lastsecond tiles of kjpstad .
2,Waranggi yang sedang bertapa tidak mampu melin...,a crazy man cannot defend himself .,"to talk to speaking , you cannot protect yours..."
3,Paper prepared for Symposium Austronesia Pasca...,"symposium austronesia , pascasarjana linguist...",reporters in liverpool melee reader .
4,Akhirnya seluruh fasilitas tidak digunakan lagi.,the installation is no longer in use .,the whole aircraft was not used again .
...,...,...,...
99995,Tak ada seorangpun yang dapat merubah kalimat-...,there can be no change to gods words .,a few ways a consuming word of calling god .
99996,Sepertinya ada lift di sekitar sana.,it looks like theres an elevator over there .,theres no cop on that land .
99997,Kamandanu murka untuk kedua kalinya.,mithuna is heartbroken a second time .,"pusher , a second time ca second ."
99998,Danau dibangun selama empat tahun dan selesai ...,construction took four years and was completed...,lake tunnel was built up to four years and wer...
99999,Armstrong Roberts,armstrong roberts,armstrong roberts

In [15]:
scores = []
for i in tqdm(range(len(preds))):
    score = sentence_bleu([reference[i]], preds[i])
    scores.append(score)

  0%|                                                                                       | 0/100000 [00:00<?, ?it/s]C:\Users\user\anaconda3\envs\nlp\lib\site-packages\nltk\translate\bleu_score.py:516: UserWarning:
The hypothesis contains 0 counts of 2-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
C:\Users\user\anaconda3\envs\nlp\lib\site-packages\nltk\translate\bleu_score.py:516: UserWarning:
The hypothesis contains 0 counts of 3-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
C:\Users\user\anaconda3\envs\nlp\lib\site-packages\nltk\translate\bleu_score.py:516: UserWarning:
The hypothesis contains 0 counts of 4-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
100%|████████████████████████████████████████████████████████████████████████| 100000/100000 [00:10<00:00, 9766.32it/s]

In [16]:
df_scores = pd.DataFrame({
    'id': df['input'],
    'en': df['target'],
    'preds': df['preds'],
    'scores': scores
})

In [17]:
sum(scores) / len(scores) * 100

4.071216039118414

In [19]:
df_scores[df_scores['scores'] > 0.4]

,id,en,preds,scores
38,"; Jones , K .","jones , k .","jones , k .",1.000000
60,"” Di Andranomafana , ” jawabnya .","in andranomafana , she replied .","at am printed , she replied .",0.411134
64,Aku tidak tahu apa yang harus aku katakan.,i dont know what i should say .,i dont know what to say .,0.423837
89,"""Pada tahun 2011, ia terakhir bermain untuk FC...","in , he last played for fc mostovikprimorye ...","in , he played for fc mostovikprimorye ussuriy...",0.669048
90,"( Baca Pengkhotbah 7 : 8 , 9 . )","read ecclesiastes , .","read ecclesiastes , .",1.000000
...,...,...,...,...
99936,12 ” Pemberian Mulia ” Joachim Barrande,joachim barrandes kingly gift,joachim barrandes kingly gift,1.000000
99959,"Bersama Istri di Brooklyn , New York","with my wife in brooklyn , new york","with my wife at brooklyn , new york",0.500000
99961,Film ini dirilis pada 5 Maret 2015.,"the film was released on march , .","the film was released on march , .",1.000000
99966,Ia terakhir bermain untuk FC Rusichi Oryol.,he last played for fc rusichi oryol .,he last played for fc grayna gladly spa .,0.467138
99991,Alkitab mengatakan bahwa itu memang ada .,the bible says that there are .,the bible says that .,0.473988

# Train

In [8]:
df = pd.read_csv('data/prediction_train_256_256.csv')

In [9]:
reference = []
preds = []
for text in df['preds'].values:
    try:
        preds.append(text.split())
    except:
        preds.append(' ')
        
for text in df['target'].values:
    try:
        reference.append(text.split())
    except:
        reference.append(' ')

In [10]:
scores = []
for i in tqdm(range(len(preds))):
    score = sentence_bleu([reference[i]], preds[i])
    scores.append(score)

100%|████████████████████████████████████████████████████████████████████████| 361998/361998 [01:00<00:00, 6028.18it/s]

In [11]:
sum(scores) / len(scores) * 100

29.73995042186757